{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Home</title>
    <style>
        body {
            background : whitesmoke;
        }
        .title {
            text-align: center;
        }
        .time_container {
            text-align: center;
            padding: 5px 10px;
            width: fit-content;
            margin: 0 auto;
            background: black;
            color: whitesmoke;
        }
    </style>
</head>
<body>
    
    <h1 class="title">Welcome to my website</h1>
    <p id="time" class="time_container"></p>

    <script>
        function updateTime() {
            const now = new Date();
            const hours = now.getHours().toString().padStart(2, '0')
            const minutes = now.getMinutes().toString().padStart(2, '0')
            const seconds = now.getSeconds().toString().padStart(2, '0')
            const currentTime = `${hours}:${minutes}:${seconds}`
            document.getElementById('time').textContent = currentTime
        }

        setInterval(updateTime, 1000)
        updateTime()
    </script>

</body>
</html>
